$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import "customVariables";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$background-color: #0b3341;
$background-color-inverse: #fff;
$section-padding-vertical: $padding-large-vertical*4;
$section-primary-bg-color: #eee;
$section-secondary-bg-color: #0b3341;

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: $background-color;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2em;
}

footer {
  background-color: $background-color;
  padding-top: $section-padding-vertical;
  padding-bottom: $section-padding-vertical;
  color: #fff;
}

.content-fullheight {
  float: left;
  position: relative;
  width: 100%;
  height: 100vh;
  height: -webkit-calc(100vh);
  height:    -moz-calc(100vh);
  height:         calc(100vh);
}

.map-headding {
  width: 100%;
  font-size: 18px;
  position: absolute;
  top: $navbar-height;
  color: #fff;

  h1 {
    font-size: 1.5em;
    @media (min-width: $screen-lg-min) {
      font-size: 3.25em;
    }
	}

}

.map-info {
  float: left;
  position: absolute;
  z-index: 10;
  text-align: left;

  @media (max-width: $screen-sm-min) {
    bottom: 0;
    width: 100%;
  }
  @media (min-width: $screen-md-min) {
    width: 680px;
    top: 280px;
    margin: 20px;
  }
}

.section-primary {
  padding-top: $section-padding-vertical;
  padding-bottom: $section-padding-vertical;
  background-color: $section-primary-bg-color;
}

.major {
  border-bottom: solid 2px #fff;
  padding-bottom: 1em;
}

/* MAP */
.popup-label {
  background: $brand-primary;
  color: #fff;
  padding: 2px 10px;
  left: 3px;
  position: relative;
  top: 15px;
  font-size: small;
}

.loading {
  padding-top: $padding-large-vertical;
  padding-bottom: $padding-large-vertical;
  text-align: center;
}

.loading-speeding-wheel {
	width: 49px;
	height: 49px;
	margin: 0 auto;
	border: 3px solid $brand-primary;
	border-radius: 50%;
	border-left-color: transparent;
	border-right-color: transparent;
	animation: loading-spin 400ms infinite linear;
		-o-animation: loading-spin 400ms infinite linear;
		-ms-animation: loading-spin 400ms infinite linear;
		-webkit-animation: loading-spin 400ms infinite linear;
		-moz-animation: loading-spin 400ms infinite linear;
}

@keyframes loading-spin {
	100%{ transform: rotate(360deg); transform: rotate(360deg); }
}

@-o-keyframes loading-spin {
	100%{ -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes loading-spin {
	100%{ -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes loading-spin {
	100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes loading-spin {
	100%{ -moz-transform: rotate(360deg); transform: rotate(360deg); }
}

/* Graph */
$chart-primary-color: #3498db;
.timeline-chart {
  font: 12px sans-serif;
}

.area {
  fill: $chart-primary-color;
  fill-opacity: 0.8;
  clip-path: url(#clip);
}

.line {
  fill: none;
  stroke: darken($chart-primary-color, 10);
  stroke-width: 2;
  clip-path: url(#clip);
}

.area2 {
  fill: #999;
  fill-opacity: 0.9;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.tick line {
  opacity: 0.2;
  stroke-dasharray: 5;
}

.x {
  &.axis {
    > .tick {
      cursor: pointer;
    }
  }
}

.dots {
  stroke-width: 2;
  fill-opacity: 1;
  clip-path: url(#clip);

  &.max {
    fill: #1abc9c;
    stroke: #16a085;
  }

  &.min {
    fill: #1abc9c;
    stroke: #16a085;
  }

}

.dots-line {
  clip-path: url(#clip);

  &.max {
    stroke: #000;
    fill: none;
    stroke-width: 1;
  }

  &.min {
    stroke: #000;
    fill: none;
    stroke-width: 1;
  }

}

.selected-value {

  > g > circle:first-child {
    fill: #fff;
  }

  > g > circle:last-child {
    stroke: darken($chart-primary-color, 10);
    fill: #fff;
    stroke-width: 2;
    fill-opacity: 1;
  }

  > line {
    stroke: darken($chart-primary-color, 10);
    fill: none;
    stroke-width: 2;
  }

  > rect {
    fill: darken($chart-primary-color, 10);
    opacity: 1;
  }

  > text {
    font-size: 16px;
    color: #fff;
    fill: #fff;
    font-weight: bold;
  }
}

.brush .extent {
  stroke: #fff;
  fill: $chart-primary-color;
  fill-opacity: 0.2;
  shape-rendering: crispEdges;
}

.legend {
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
}

.warning-line {
  stroke: #f39c12;
  stroke-width: 2;
}

.flood-line {
  stroke: #e74c3c;
  stroke-width: 2;
}

.map {
  float: left;
  position: relative;
  width: 100%;
  height: 100vh;
  height: -webkit-calc(100vh - (#{$navbar-height}));
  height:    -moz-calc(100vh - (#{$navbar-height}));
  height:         calc(100vh - (#{$navbar-height}));
}

/* Bootstrap overhide */
.navbar-default {
  border: none;
  transition: all ease 0.5s;
}
.navbar-inverse {
  transition: all ease 0.5s;
}

.navbar-brand {
  padding: 15px;
}
