$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import "customVariables";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$background-color: #0b3341;
$background-color-inverse: #fff;
$section-padding-vertical: $padding-large-vertical*4;
$section-primary-bg-color: #eee;
$section-secondary-bg-color: #0b3341;

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: $background-color;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2em;
}
footer {
  background-color: $background-color;
  padding-top: $section-padding-vertical;
  padding-bottom: $section-padding-vertical;
  color: #fff;
}
.section-header {
		background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/4e/Curvas_do_Parque_Nacional_de_Anavilhanas.jpg");
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		padding: $section-padding-vertical 0;
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		border-bottom: 0 !important;
		cursor: default;
		position: relative;
		top: 0;
    padding-top: 100px;
    color: #fff;

		&:after {
			-moz-transition: opacity 2.5s ease;
			-webkit-transition: opacity 2.5s ease;
			-ms-transition: opacity 2.5s ease;
			transition: opacity 2.5s ease;
			-moz-transition-delay: 0.75s;
			-webkit-transition-delay: 0.75s;
			-ms-transition-delay: 0.75s;
			transition-delay: 0.75s;
			-moz-pointer-events: none;
			-webkit-pointer-events: none;
			-ms-pointer-events: none;
			pointer-events: none;
			background-color: rgba(11, 51, 65, 0.8);
			content: '';
			display: block;
			height: 100%;
			left: 0;
			opacity: 0.85;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 1;
		}

    h1 {
			font-size: 3.25em;
		}

    header {
      padding-top: $section-padding-vertical*2;
      padding-bottom: $section-padding-vertical*2;
    }

    > .inner {
			-moz-transition: opacity 1.5s ease, -moz-transform 0.5s ease-out, -moz-filter 0.5s ease, -webkit-filter 0.5s ease;
			-webkit-transition: opacity 1.5s ease, -webkit-transform 0.5s ease-out, -webkit-filter 0.5s ease, -webkit-filter 0.5s ease;
			-ms-transition: opacity 1.5s ease, -ms-transform 0.5s ease-out, -ms-filter 0.5s ease, -webkit-filter 0.5s ease;
			transition: opacity 1.5s ease, transform 0.5s ease-out, filter 0.5s ease, -webkit-filter 0.5s ease;
			position: relative;
			z-index: 2;

      image {
				display: none;
			}
		}

}

.section-header-lg {
  padding-bottom: 150px;
}

.main-header-subheadding {
  margin-top: $padding-large-vertical;
  margin-bottom: $padding-large-vertical;
  font-size: 18px;
}
.section-primary {
  padding-top: $section-padding-vertical;
  padding-bottom: $section-padding-vertical;
  background-color: $section-primary-bg-color;
}

.major {
  border-bottom: solid 2px #fff;
  padding-bottom: 1em;
}

.river-cover {
  display: block;
  height: 150px;
  border-radius: $border-radius-base;
  padding: $padding-large-vertical;
  background-color: $background-color;
  background-size: cover;
  color: #fff;
  text-shadow: 2px 2px $text-color;
  font-size: 28px;
  line-height: 130px;
  text-align: center;

  &:hover {
    text-decoration: none;
    color: #fff;
  }

  &.river-cover-riobranco {
    background-image: url("http://4.bp.blogspot.com/-j-MSkE8IeKo/T84Jqk7FkJI/AAAAAAAAY4k/7FgbR3JYg7o/s1600/rio-branco-AC.jpg");
  }

  &.river-cover-portovelho {
    background-image: url("http://www.portalgentedeopiniao.net/fotos/image/vistadePortoVelhoFotoJGOMES1200.jpg");
  }

  &.river-cover-manaus {
    background-image: url("http://sknincorporadora.com.br/files/8314/0241/3198/Fotomontagem_Noturna_Cidade.jpg");
  }

  &:after {
    -moz-transition: opacity 2.5s ease;
    -webkit-transition: opacity 2.5s ease;
    -ms-transition: opacity 2.5s ease;
    transition: opacity 2.5s ease;
    -moz-transition-delay: 0.75s;
    -webkit-transition-delay: 0.75s;
    -ms-transition-delay: 0.75s;
    transition-delay: 0.75s;
    -moz-pointer-events: none;
    -webkit-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.5);
    content: '';
    display: block;
    border-radius: $border-radius-base;
    top: -140px;
    left: 0;
    height: 150px;
    opacity: 0.85;
    position: relative;
    margin-left: -$padding-large-vertical;
    margin-right: -$padding-large-vertical;
    z-index: 1;
  }

  > .river-cover-inner {
    -moz-transition: opacity 1.5s ease, -moz-transform 0.5s ease-out, -moz-filter 0.5s ease, -webkit-filter 0.5s ease;
    -webkit-transition: opacity 1.5s ease, -webkit-transform 0.5s ease-out, -webkit-filter 0.5s ease, -webkit-filter 0.5s ease;
    -ms-transition: opacity 1.5s ease, -ms-transform 0.5s ease-out, -ms-filter 0.5s ease, -webkit-filter 0.5s ease;
    transition: opacity 1.5s ease, transform 0.5s ease-out, filter 0.5s ease, -webkit-filter 0.5s ease;
    position: relative;
    z-index: 2;
  }
}

/* Graph */
$chart-primary-color: #3498db;
.timeline-chart {
  font: 12px sans-serif;
}

.area {
  fill: $chart-primary-color;
  fill-opacity: 0.8;
  clip-path: url(#clip);
}

.line {
  fill: none;
  stroke: darken($chart-primary-color, 10);
  stroke-width: 2;
  clip-path: url(#clip);
}

.area2 {
  fill: #999;
  fill-opacity: 0.9;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.tick line {
  opacity: 0.2;
  stroke-dasharray: 5;
}

.dots {
  stroke: darken($chart-primary-color, 10);
  stroke-width: 2;
  fill-opacity: 1;

  &.max {
    fill: #27ae60;
  }

  &.min {
    fill: #c0392b;
  }

}

.dots-line {

  &.max {
    stroke: #000;
    fill: none;
    stroke-width: 1;
  }

}

.selected-value {

  > g > circle:first-child {
    fill: #fff;
  }

  > g > circle:last-child {
    stroke: darken($chart-primary-color, 10);
    fill: #fff;
    stroke-width: 2;
    fill-opacity: 1;
  }

  > line {
    stroke: darken($chart-primary-color, 10);
    fill: none;
    stroke-width: 2;
  }

  > rect {
    fill: darken($chart-primary-color, 10);
    opacity: 1;
  }

  > text {
    font-size: 16px;
    color: #fff;
    fill: #fff;
    font-weight: bold;
  }
}

.brush .extent {
  stroke: #fff;
  fill: $chart-primary-color;
  fill-opacity: 0.2;
  shape-rendering: crispEdges;
}

.warning-line {
  stroke: yellow;
}

/* Bootstrap overhide */
.navbar-default {
  background: none;
  border: none;
}
