<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <ul class="list-inline nav-list">
      <li>
        <a href="" class="inverse" data-toggle="modal" data-target="#shareModal">
          <span class="icon-share"></span>
        </a>
      </li>
      <li>
        <a href="" class="inverse" ng-click="toggleMenu()">
          <span class="icon-menu"></span>
        </a>
      </li>
    </ul>
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="home">
        <img src="images/ia-white.png" alt="Infoamazônia" width="185" height="40">
      </a>
    </div>

  </div><!-- /.container-fluid -->
</nav>

<div class="menu-container" ng-show="showMenu">
  <div class="list-group">
    <a href="#" class="list-group-item">Sobre o projeto</a>
    <a href="#" class="list-group-item">Dados abertos</a>
    <a href="#" class="list-group-item">Receba previsões e alertas pelo Telegram ou Facebook</a>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="shareModalLabel">Compartilhar</h4>
      </div>
      <div class="modal-body">
        <span class="icon-facebook2"></span>
        <span class="icon-twitter"></span>
      </div>
    </div>
  </div>
</div>
