<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <ul class="list-inline nav-list">
      <li>
        <a href="" class="inverse" data-toggle="modal" data-target="#botModal">
          <span class="icon-notifications_active"></span>
        </a>
      </li>
      <li>
        <a href="" class="inverse" data-toggle="modal" data-target="#shareModal" ng-click="prepareShare()">
          <span class="icon-share"></span>
        </a>
      </li>
      <li>
        <a href="" class="inverse" ng-click="toggleMenu()">
          <span class="icon-menu"></span>
        </a>
      </li>
    </ul>
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="home">
        <img src="images/logo-sm.png" alt="Infoamazônia" width="150" height="33">
      </a>
    </div>

  </div><!-- /.container-fluid -->
</nav>

<div class="menu-container" ng-show="showMenu">
  <div class="list-group">
    <a ui-sref="intro" class="list-group-item" ng-click="toggleMenu()">Apresentação</a>
    <a ui-sref="opendata" class="list-group-item" ng-click="toggleMenu()">Dados abertos</a>
    <a ui-sref="about" class="list-group-item" ng-click="toggleMenu()">Expediente</a>
  </div>
  <div class="menu-container-logos text-center">
    <div class="row">
      <div class="col-xs-6 col-sm-12">

        <div>
          <a href="https://infoamazonia.org/" target="_blank"><img src="images/logo_infoamazonia.png" alt="InfoAmazonia" /></a>
        </div>
        <div class="menu-container-title">
          Realização
        </div>

      </div>
      <div class="col-xs-6 col-sm-12">

        <div>
          <a href="https://www.lsd.ufcg.edu.br/#/" target="_blank"><img src="images/logo_lsd.png" alt="LSD" /></a>
        </div>
        <div class="menu-container-title">
          Desenvolvimento
        </div>

      </div>
      <div class="col-xs-6 col-sm-12">

        <div>
          <a href="http://earthjournalism.net/" target="_blank"><img src="images/logo_ejn.png" alt="EJN" /></a>
        </div>
        <div class="menu-container-title">
          Apoio
        </div>

      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="shareModalLabel"></h4>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <p>Compartilhe nas redes sociais</p>
          <a href="#"
            socialshare
            socialshare-provider="facebook"
            socialshare-type="share"
            socialshare-via="{{share.appID}}"
            socialshare-title="{{share.title}}"
            socialshare-description="{{share.text}}"
            socialshare-url="{{share.url}}"
            class="btn btn-link btn-share">
            <span class="icon-facebook2"></span>
          </a>
          <a href="#"
            socialshare
            socialshare-provider="twitter"
            socialshare-text="{{share.text}}"
            socialshare-hashtags="infoamazonia"
            socialshare-url="{{share.url}}"
            class="btn btn-link btn-share">
            <span class="icon-twitter"></span>
          </a>
          <a
            socialshare
            socialshare-provider="telegram"
            socialshare-url="{{share.url}}"
            socialshare-text="{{share.text}}"
            class="btn btn-link btn-share">
            <span class="icon-telegram"></span>
          </a>
          <a
            socialshare
            socialshare-provider="whatsapp"
            socialshare-url="{{share.url}}"
            socialshare-text="{{share.text}}"
            class="btn btn-link btn-share visible-xs-inline">
            <span class="icon-whatsapp"></span>
          </a>
          <hr>
          <strong>Incorpore as previsões no seu site</strong>
          <p>Selecione um rio e utilize o código abaixo para incorporar o quadro de previsões em seu site:</p>
        </div>
        <br>
        <div class="radio" ng-repeat="river in rivers">
          <label>
            <input type="radio" name="rivers" id="river1" ng-value="river" ng-model="$parent.selectedRiver">
            <strong>{{river.name}}</strong> em {{river.city}}
          </label>
        </div>
        <textarea class="form-control" name="name" rows="2" readonly style="resize: none;"><div data-alerta-enchentes-station="{{selectedRiver.station}}"></div><script type="text/javascript">(function() {var script = document.createElement('script');script.async = true;script.src = "https://enchentes.infoamazonia.org/alerta-enchentes.js";var entry = document.getElementsByTagName('script')[0];entry.parentNode.insertBefore(script, entry);}());</script></textarea>
      </div>
    </div>
  </div>
</div>

<!-- Modal bot -->
<div class="modal fade" id="botModal" tabindex="-1" role="dialog" aria-labelledby="botModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="botModalLabel"></h4>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <p>Receba mensagens de alertas ou consulte o estados dos rios a qualquer momento usando as plataformas de mensagens</p>
          <br>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <a href="https://telegram.me/AlertaEnchentesBot" class="btn btn-primary btn-lg btn-block" target="_blank">
              <span class="icon-telegram"></span> &nbsp; Telegram
            </a>
          </div>
          <br class="visible-xs">
          <div class="col-sm-6">
            <a href="http://m.me/enchentes.infoamazonia" class="btn btn-primary btn-lg btn-block" target="_blank">
              <span class="icon-facebook2"></span> &nbsp; Facebook
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
