<main class="content-main section-inverse">
  <div class="container container-text">

    <h1>Expediente</h1>
    <p>
      A plataforma Alerta de Enchentes é uma realização do <a href="https://infoamazonia.org/" target="_blank">InfoAmazonia</a>,
      com desenvolvimento do <a href="https://www.lsd.ufcg.edu.br/" target="_blank">Laboratório de Sistemas Distribuídos</a> (LSD)
      da Universidade Federal de Campina Grande e apoio da <a href="http://earthjournalism.net/" target="_blank">Earth Journalism Network</a>.
    </p>
    <br>
    <p>
      Fale conosco através do endereço de e-mail <a href="mailto:mailto:contato@infoamazonia.org" target="_blank">contato@infoamazonia.org</a>.
    </p>

    <h2>Equipe</h2>

    <dl class="dl-horizontal">
      <dt>Coordenação<br>geral</dt>
      <dd>Giovanny Vera (maio a setembro de 2016) e Stefano Wrobleski (outubro de 2016 a março de 2017) – InfoAmazonia</dd>
      <dt>Coordenação<br>administrativa</dt>
      <dd>Gina Leite – InfoAmazonia</dd>
      <dt>Desenvolvimento</dt>
      <dd>Jefferson Neves e Ricardo Araújo – LSD</dd>
      <dt>Consultoria</dt>
      <dd>Gustavo Faleiros – InfoAmazonia</dd>
      <dt>Agradecimentos<br>especiais</dt>
      <dd>Franco Turco Buffon e Marco Antonio de Oliveira – CPRM</dd>
    </dl>

  </div>

</main>
