<div class="content-main section-primary">
  <div class="container-fluid">
    <h2 class="text-center">Série histórica do {{ctrl.selectedRiver.name}}</h2>
    <div class="row">
      <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="input-group form-group-datepicker">
          <span class="input-group-addon form-addon-datepicker" id="basic-addon1">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
          <input id="dateRange" date-range-picker class="form-control input-lg date-picker form-datepicker" type="text" placeholder="Selecionar intervalo de data"
          ng-model="ctrl.datePicker.date"
          options="ctrl.datePicker.options" />
        </div>
      </div>
    </div>
    <div class="loading" ng-show="ctrl.loading">
      <div class="loading-speeding-wheel"></div>
    </div>
    <ae-history river="ctrl.selectedRiver.history" start="ctrl.datePicker.date.startDate" end="ctrl.datePicker.date.endDate"></ae-history>
    <br><br>
    <div id="desc" class="text-right" style="display: none;">
      <p><span class="glyphicon glyphicon-arrow-up"></span> Máxima <span id="desc-max"></span> em <span id="desc-max-date"></span></p>
      <p><span class="glyphicon glyphicon-arrow-down"></span> Mínima <span id="desc-min"></span> em <span id="desc-min-date"></span></p>
    </div>
  </div>
</div>
