<div class="content-main section-primary">
  <div class="container-fluid">
    <h2 class="text-center">Série histórica do {{ctrl.selectedRiver.name}}</h2>
    <div class="row">
      <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="input-group form-group-datepicker">
          <span class="input-group-addon form-addon-datepicker" id="basic-addon1">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
          <input id="dateRange" date-range-picker class="form-control input-lg date-picker form-datepicker" type="text" placeholder="Selecionar intervalo de data"
          ng-model="ctrl.datePicker.date"
          options="ctrl.datePicker.options" />
        </div>
      </div>
    </div>
    <div class="loading" ng-show="ctrl.loading">
      <div class="loading-speeding-wheel"></div>
    </div>
    <ae-history river="ctrl.selectedRiver.history" start="ctrl.datePicker.date.startDate" end="ctrl.datePicker.date.endDate"></ae-history>
  </div>
  <div class="container">
    <p id="desc" style="margin:auto; margin-top: 60px; max-width: 696px; display:none;">
      Dado o intervalo, o {{ctrl.selectedRiver.name}} aprensentou a máxima de
      <span id="desc-max">0</span> em <span id="desc-max-date">01 de janeiro de 2000</span> e mínima de
      <span id="desc-min">0</span> em <span id="desc-min-date">01 de janeiro de 2000</span>.
    </p>
  </div>
</div>
