<main class="content-main section-inverse">
  <div class="container container-text">

    <h1>Apresentação</h1>
    <p>
      Reduzir o tempo de aviso sobre cheias dos rios às populações vulneráveis é a proposta do <strong>Alerta de Enchentes</strong>. Através de um monitoramento automatizado dos níveis dos rios e da aplicação de metodologias da <a href="http://www.cprm.gov.br/">Companhia de Pesquisa de Recursos Minerais</a> (CPRM) para as previsões, estamos usando mensagens de celular para informar todos os cadastrados quando os rios estiverem em vias de atingir níveis críticos, em que a presença de pessoas às margens esteja ameaçada. Assim, cortamos intermediários.
    </p>
    <p>
      Até agora, os alertas de níveis críticos dos rios chegavam à população por meio da imprensa. Mas em eventos extremos, como as cheias dos rios, algumas horas de atraso podem ter um custo muito alto para quem precisa deixar tudo para trás antes que a água suba. E eventos extremos são cada vez mais frequentes.
    </p>
    <p>
      Chuvas em níveis atípicos e desastres naturais têm acontecido em todo o mundo em intervalos de tempo cada vez menores, acompanhando os recordes globais de temperatura dos últimos anos. Tem sido difícil prever os extremos climáticos, que estão cada vez mais extremos.
    </p>
    <p>
      Atualmente a plataforma <strong>Alerta de Enchentes</strong> monitora os níveis de três rios em diferentes capitais brasileiras. É um projeto piloto que mostra ser viável implementar uma tecnologia de baixo custo totalmente funcional.
    </p>
    <p>
      Pensando também nos jornalistas e pesquisadores, disponibilizamos uma forma fácil de incorporar os níveis dos rios e suas previsões em qualquer site. É só clicar no ícone de compartilhamento, no canto superior direito da tela, e copiar o código HTML do rio desejado.
    </p>
    <p>
      Na versão desta plataforma para computadores, é possível ainda consultar períodos determinados ou toda a série histórica das estações de medição dos níveis dos rios, construída a partir de dados disponibilizados pela <a href="http://ana.gov.br/">Agência Nacional de Águas</a> (ANA) e atualizados diariamente com informações oficiais. Para isso, você deve clicar no botão correspondente que fica abaixo do gráfico de cada estação. Assim, jornalistas e pesquisadores podem concentrar seu tempo na análise dos dados.
    </p>
    <p>
      O Alerta de Enchentes é uma realização do <a href="https://infoamazonia.org/">InfoAmazonia</a>,
      com desenvolvimento do <a href="https://www.lsd.ufcg.edu.br/">Laboratório de Sistemas Distribuídos</a> (LSD)
      da Universidade Federal de Campina Grande e apoio da <a href="http://earthjournalism.net/">Earth Journalism Network</a>.
    </p>

    <h3>Aviso de responsabilidade</h3>
    <p>
      Esta plataforma piloto utiliza dados da CPRM e da ANA, mas não é afiliada a elas de nenhuma maneira. A obtenção de dados e previsões é automatizada. Sendo assim, divergências podem ocorrer, caso as alterações verificadas não sejam inseridas nos sistemas públicos destas instituições.
    </p>
  </div>

</main>
