<section class="container-fluid headline">

  <div class="container">
    <h2 class="text-center"><img src="images/ia-white.png" alt="Infoamazônia" width="150" height="32"></h2>
    <div class="main-title text-center">
      <h1>Alertas de enchentes</h1>
    </div>

    <div class="row">
      <div class="col-md-8">
        <h3 class="text-center">Rio Acre</h3>
        <br>
        <div class="row">
          <div class="col-xs-2 col-xs-offset-1">
            <svg width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70 70">
              <path id="svg_2" class="alert-icon" d="m55.190081,67.09211l-40.116,0c-5.344,0 -9.631,-2.07 -11.766,-5.677c-2.136,-3.61 -1.886,-8.362 0.683,-13.044l20.664,-37.669c2.628,-4.792 6.348,-7.433 10.475,-7.433c4.131,0 7.85,2.641 10.479,7.433l20.664,37.671c2.569,4.68 2.818,9.431 0.683,13.041c-2.135,3.608 -6.422,5.678 -11.766,5.678zm-20.059,-57.437c-1.665,0 -3.442,1.5 -4.876,4.115l-20.665,37.671c-1.459,2.656 -1.743,5.104 -0.789,6.722c0.957,1.615 3.246,2.544 6.273,2.544l40.116,0c3.027,0 5.316,-0.929 6.273,-2.544c0.954,-1.618 0.67,-4.065 -0.789,-6.719l-20.664,-37.674c-1.434,-2.616 -3.211,-4.115 -4.879,-4.115z"/>
              <path id="svg_5" class="alert-icon" d="m31.310581,49.62311c0,-2.262 1.581,-3.885 3.844,-3.885s3.753,1.623 3.798,3.885c0,2.217 -1.494,3.882 -3.798,3.882c-2.308,0 -3.844,-1.665 -3.844,-3.882zm1.411,-6.019l-0.983,-19.336l6.787,0l-0.938,19.336l-4.866,0z" fill="#000000"/>
            </svg>
          </div>
          <div class="col-xs-9">
            <h3>Alerta de enchentes</h3>
            <h4>Previsão para as próximas <strong>12 horas</strong></h4>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-card">
          <h4 class="text-center">Quero receber alertas via<br>Telegram<small>&copy;</small> ou Whatsapp<small>&copy;</small></h4>
          <br>
          <form>
            <div class="form-group">
              <input type="text" class="form-control" id="nome" placeholder="Nome">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="telefone" placeholder="Telefone">
            </div>
            <button type="submit" class="btn btn-block btn-success">Cadastrar-se</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</section>

<section class="container-fluid section section-primary">
  <div class="container about text-center">
    Sistema de alertas e notícias de enchentes
      <p>
      Nulla facilisi. Praesent sagittis tincidunt tortor, eget tristique leo finibus sed. Mauris in lacus volutpat, pellentesque libero at, lacinia velit. Proin mollis at est ac vehicula.
    </p>
  </div>
</section>
