<section class="section-header">
  <div class="container inner">
    <header class="main-header text-center">
      <h1>Alerta de enchentes</h1>
      <p class="main-header-subheadding">Veja as previsões de volume para os rios da região amazônica</p>
    </header>
    <div class="row">
      <div class="col-sm-4">
        <a ui-sref="riobranco" class="river-cover river-cover-riobranco">
          <span class="river-cover-inner">Rio Branco</span>
        </a>
      </div>
      <div class="col-sm-4">
        <a ui-sref="portovelho" class="river-cover river-cover-portovelho">
          <span class="river-cover-inner">Porto Velho</span>
        </a>
      </div>
      <div class="col-sm-4">
        <a ui-sref="manaus" class="river-cover river-cover-manaus">
          <span class="river-cover-inner">Manaus</span>
        </a>
      </div>
    </div>
  </div>
</section>
