<openlayers class="content-fullheight" ol-defaults="ctrl.map.defaults" ol-center="ctrl.map.center">
  <ol-marker ol-marker-properties="marker" ng-repeat="marker in ctrl.map.markers"></ol-marker>
  <ol-layer name="{{layer.name}}" ol-layer-properties="layer" ng-repeat="layer in ctrl.map.layers"></ol-layer>
</openlayers>
<div class="map-headding text-center">
  <h1>Alerta de enchentes</h1>
  <p class="map-subheadding">Veja as previsões de volume para os rios da região amazônica</p>
</div>
<div class="map-info">
  <div class="map-info-content">

    <div class="map-card" ng-show="ctrl.select">
      <button type="button" class="btn-close" ng-click="ctrl.hideCard()">&times;</button>
      <div class="loading" ng-show="ctrl.loading">
        <div class="loading-speeding-wheel"></div>
      </div>
      <div class="map-card-body" ng-hide="ctrl.loading">
        <div class="map-card-body-title"><strong>{{ctrl.selectedRiver.name}}</strong> em {{ctrl.selectedRiver.city}}</div>
        <div>Previsões a partir de {{ctrl.timestamp}}</div>
        <div style="margin-top: 25px;">
          <div class="map-card-body-title">{{ctrl.selectedRiver.alert.title}}</div>
          <div>{{ctrl.selectedRiver.alert.description}}</div>
        </div>
        <div ng-show="ctrl.selectedRiver.data.info && ctrl.selectedRiver.data.data.length">
          <ae-prediction river="ctrl.selectedRiver.data"></ae-prediction>
        </div>
        <div class="text-right hidden-xs">
          <a ui-sref="history({river: ctrl.selectedRiver.slug})" class="btn btn-primary">Ver série histórica</a>
        </div>
      </div>

    </div>

    <button type="button" name="button" class="btn btn-primary btn-block btn-lg visible-xs" data-toggle="modal" data-target="#selectModal">Selecionar rio</button>

    <!-- <div data-alerta-enchentes-station="13600002" ng-show="ctrl.isSelectedRiver('rioacre')"></div>
    <div data-alerta-enchentes-station="15400000" ng-show="ctrl.isSelectedRiver('riomadeira')"></div>
    <script type="text/javascript">
    (function() {
      var script = document.createElement('script');
      script.async = true;
      script.src   = "http://localhost/alertas-enchentes-widget/alerta-enchentes.js";
      var entry = document.getElementsByTagName('script')[0];
      entry.parentNode.insertBefore(script, entry);
    }());
    </script> -->
  </div>
</div>
<div class="clearfix"></div>
<!-- Modal -->
<div class="modal fade" id="selectModal" tabindex="-1" role="dialog" aria-labelledby="selectModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="selectModalLabel">Previsões para...</h4>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="river in ctrl.rivers">
            <a href="" ng-click="ctrl.selectRiver(river.slug)" data-dismiss="modal">{{river.name}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
