<section class="section-header">
  <div class="container inner">
    <header>
      <h1>Alerta de enchentes</h1>
      <p>Veja as previsões de volume para os rios da região amazônica</p>
    </header>
    <div class="row">
      <div class="col-md-4">
        <h2 class="major">Manaus</h2>
      </div>
    </div>
  </div>
</section>

<section class="section-primary">
  <div class="container-fluid">
    <h2 class="text-center">Série histórica</h2>
    <div class="loading" ng-show="ctrl.loading">
      <div class="loading-speeding-wheel"></div>
    </div>
    <ae-history river="ctrl.river"></ae-history>
  </div>
</section>
