<main class="content-main section-inverse">
  <div class="container container-text">

    <h1>Dados abertos</h1>
    <p>
      O <strong>Alerta de Enchentes</strong> foi construído de maneira aberta, e pode ser copiado e redistribuído livremente.
      Adotamos a licença Creative Commons <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.pt_BR">CC BY-SA 4.0</a>,
      que permite a reprodução livre desde que citada a fonte e com uma licença de compartilhamento igual.
      Incentivamos você a incorporar os painéis de previsão dos níveis dos rios em sua página.
      Basta clicar no botão “compartilhar”, no canto superior direito da página, escolher o rio desejado e copiar o código HTML
      correspondente.
      A plataforma foi desenvolvida em duas partes e seu código aberto está disponível no GitHub:
      a <a href="https://github.com/jeffersonrpn/alertas-enchentes">apresentação</a> (frontend) e a
      <a href="https://github.com/ricardoas/alertas-enchentes-api">Interface de Programação de Aplicativos</a> (API).
    </p>

    <h2>Metodologias de previsão</h2>
    <p>
      As fórmulas matemáticas para previsão dos rios desta plataforma foram obtidas através de solicitação via Lei de
      Acesso à Informação feita à <a href="http://www.cprm.gov.br/">Companhia de Pesquisa de Recursos Minerais</a> (CPRM).
      O pedido foi plenamente atendido em janeiro de 2017. As respostas incluíram os estudos de pesquisadores da instituição,
      que disponibilizamos abaixo:
    </p>
      <ul>
        <li>
          Rio Acre em Rio Branco
        </li>
        <li>
          Rio Madeira em Porto Velho
        </li>
        <li>
          Rio Negro em Manaus
        </li>
      </ul>
      <p>
        Os níveis de atenção, alerta e enchente de cada rio foram enviados pela mesma CPRM após solicitação via Lei de Acesso à Informação em novembro de 2017.
      </p>
      <p>
        Desenvolvedores podem ter acesso ao JSON das previsões que disponibilizamos no Alerta de Enchentes no GitHub da plataforma.
      </p>

      <h2>Níveis diários e série histórica</h2>
      <p>
        Os dados históricos diários de cada estação foram fornecidos pela Agência Nacional de Águas (ANA) a pedido.
        A atualização diária destes dados se dá por meio da raspagem de dados da plataforma <a href="http://mapas-hidro.ana.gov.br/">Sistema de Monitoramento Hidrológico</a> da ANA.
      </p>
  </div>

</main>
