<main class="content-main section-inverse">
  <div class="container container-text">

    <h1>Dados abertos</h1>
    <p>
      O <strong>Alerta de Enchentes</strong> foi construído de maneira aberta, e pode ser copiado e redistribuído livremente.
      Adotamos a licença Creative Commons <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.pt_BR" target="_blank">CC BY-SA 4.0</a>,
      que permite a reprodução livre desde que citada a fonte e com uma licença de compartilhamento igual.
      Incentivamos você a incorporar os painéis de previsão dos níveis dos rios em sua página.
      Basta clicar no botão “compartilhar”, no canto superior direito da página, escolher o rio desejado e copiar o código HTML
      correspondente.
      A plataforma foi desenvolvida em duas partes e seu código aberto está disponível no GitHub:
      a <a href="https://github.com/jeffersonrpn/alertas-enchentes" target="_blank">apresentação</a> (frontend) e a
      <a href="https://github.com/ricardoas/alertas-enchentes-api" target="_blank">Interface de Programação de Aplicativos</a> (API).
    </p>

    <h2>Metodologias de previsão</h2>
    <p>
      As fórmulas matemáticas para previsão dos rios desta plataforma foram obtidas através de solicitação via Lei de
      Acesso à Informação feita à <a href="http://www.cprm.gov.br/" target="_blank">Companhia de Pesquisa de Recursos Minerais</a> (CPRM).
      O <a href="https://enchentes.infoamazonia.org/files/historico_pedido_calculos_matematicos.pdf" target="_blank">pedido</a> foi plenamente atendido em janeiro de 2017. As respostas incluíram os estudos de pesquisadores da instituição,
      que disponibilizamos abaixo:
    </p>
      <ul>
        <li>
          <a href="https://enchentes.infoamazonia.org/files/previsao_rio_branco.pdf" target="_blank">Rio Acre em Rio Branco</a>
        </li>
        <li>
          <a href="https://enchentes.infoamazonia.org/files/previsao_porto_velho.pdf" target="_blank">Rio Madeira em Porto Velho</a>
        </li>
        <li>
          <a href="https://enchentes.infoamazonia.org/files/previsao_manaus.pdf" target="_blank">Rio Negro em Manaus</a>
        </li>
      </ul>
      <p>
        Os níveis de atenção, alerta e enchente de cada rio foram enviados pela mesma CPRM após <a href="https://enchentes.infoamazonia.org/files/historico_pedido_nivel_rios.pdf" target="_blank">solicitação</a> via Lei de Acesso à Informação em novembro de 2017.
      </p>
      <p>
        Desenvolvedores podem ter acesso ao JSON das previsões que disponibilizamos no Alerta de Enchentes no GitHub da plataforma.
      </p>

      <h2>Níveis diários e série histórica</h2>
      <p>
        Os dados históricos diários de cada estação foram fornecidos pela Agência Nacional de Águas (ANA) a pedido.
        A atualização diária destes dados se dá por meio da raspagem de dados da plataforma <a href="http://mapas-hidro.ana.gov.br/" target="_blank">Sistema de Monitoramento Hidrológico</a> da ANA.
      </p>

      <h2>Descrição da API</h2>

      <p>
        A Interface de Programação de Aplicativos (API) do Alerta de Enchentes pode ser acessada através das seguintes rotas.
      </p>

      <table class="table">
        <tr>
          <td>GET</td>
          <td>
            <a href="https://enchentes.infoamazonia.org:8080/station/15400000/now" target="_blank">/station/{id}/now</a>
          </td>
          <td>
            Retorna o texto descritivo da situação atual da estação {id}
          </td>
        </tr>
        <tr>
          <td>GET</td>
          <td>
            <a href="https://enchentes.infoamazonia.org:8080/station/15400000/prediction" target="_blank">/station/{id}/prediction</a>
          </td>
          <td>Retorna os níveis medidos e previstos para a estação {id}</td>
        </tr>
        <tr>
          <td>GET</td>
          <td>
            <a href="https://enchentes.infoamazonia.org:8080/station/15400000/alert" target="_blank">/station/{id}/alert</a>
          </td>
          <td>Retorna o texto com a última mensagem de alerta gerada para a estação {id}</td>
        </tr>
        <tr>
          <td>GET</td>
          <td>
            <a href="https://enchentes.infoamazonia.org:8080/station/15400000/history" target="_blank">/station/{id}/history</a>
          </td>
          <td>Retorna todos os níveis históricos medidos na estação {id}</td>
        </tr>
        <tr>
          <td>GET</td>
          <td>
            <a href="https://enchentes.infoamazonia.org:8080/station/15400000/csvhistory" target="_blank">/station/{id}/csvhistory</a>
          </td>
          <td>Retorna todos os níveis históricos medidos na estação {id} em formato CSV</td>
        </tr>
      </table>

  </div>

</main>
