<main class="content-main section-inverse">
  <div class="container container-text">

    <h1>Política de privacidade</h1>
    <p>
      O bot para Facebook do <strong>Alerta de Enchentes</strong>
      garante que nenhuma informação pessoal será divulgada.
    </p>
    <p>
      O bot para Facebook do <strong>Alerta de Enchentes</strong>
      garante que só são armazenadas informações públicas
      usuário caso o mesmo solicite receber notificações recorentes.
      Essas informações só serão utilizadas para identificar o destinatário
      das mensagens.
    </p>
    <p>
      O bot para Facebook do <strong>Alerta de Enchentes</strong>
      garante que não enviará mensagens sem o consentimento do usuário.
    </p>

  </div>

</main>
